{% extends 'base.html.twig' %}
{% block head %}
   <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

   {% block body %}
      <div class="container-fluid">
         <div class="backgroundUrl"></div>
         <h1 class="py-5 text-center">Les annonces postées </h1>
         {% for ad in ads %}
            <div class="card mb-3 mx-auto" style="width : 50%;">
               <div class="row g-0">
                  <div class="col-md-4">
                     <img src="{{ ad.image }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                     <div class="card-body">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <p class="card-text">{{ ad.description }}</p>
                        <p>{{ ad.createdAt | date('Y-m-d') }}</p>
                     </div>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
   {% endblock %}